@media screen and (max-width: 1500px) {
  
  .about-section {
    flex-direction: column;
  }

  .about-img {
    margin: 0 10px 50px 10px;
  }

}

@media screen and (max-width: 800px) {
  
  .contact-title {
    font-size: 3rem;
  }

  .section {
    font-size: 1.5rem;
  }

  .input {
    font-size: 1.5rem;
  }
  
  .form__textarea {
    font-size: 1.5rem;
  }
  
  .form__button {
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 500px) {
  
  .contact-title {
    font-size: 2.5rem;
  }

  .input {
    height: 50px;
  }

}